/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

.navbar-fixed-top {
  position: sticky !important;
  top: 0;
  right: 0;
  left: 0;
  margin-bottom: 1rem;
  z-index: 99;
}
